.slider {
	width: 40%;
	height: 50px;
	position: relative;
	float: left;
	left: 160px;
}

.segment {
	height: 50px;
	float: left;
	position: relative;
	text-align: center;
}

.segment div {
	width: 100%;
    font-size: 14px;
    color: #a3a3a3;
    font-family: Roboto-Medium;
    height: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: auto;
    display: inline-block;
}

.segment div:hover {
	cursor: pointer;
}

.selected-segment {
	background-color: #4144BC;
	height: 2px;
    position: absolute;
    bottom: 0px;
}