{% extends "profile_base.html" %}
{% block stylesheets %}
    <link href="/static/css/friends.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/slider.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block grid_content %}
	<div class="grid-timeline"></div>
	<div class="friends_gridview"></div>
	<div class="likes_list"></div>
{% endblock %}
{% block scripts %}
	<script src="/static/js/profile.js"></script>
	<script src="https://connect.facebook.net/en_US/all.js"></script>
	<script>
		window.onload = function() {
			debugger;
			storeAppId("{{ appId }}");
			window.fbAsyncInit = function() {
			    FB.init({
			      appId      : "{{ appId }}",
			      xfbml      : true,
			      version    : 'v2.8'
			    });8
			    FB.AppEvents.logPageView();
			  };

		  (function(d, s, id){
		     var js, fjs = d.getElementsByTagName(s)[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement(s); js.id = id;
		     js.src = "//connect.facebook.net/en_US/sdk.js";
		     fjs.parentNode.insertBefore(js, fjs);
		   }(document, 'script', 'facebook-jssdk'));
		 }
	</script>
	<script>
		storeBaseURL("{{base_url}}");
		storeUserId("{{obj_id}}");
		storeAppId("{{appId}}")
		setFriendsURL("{{friends_url}}");
		setLikesURL("{{likes_url}}");
		setIsCurrentUser("{{is_current_user}}");
	</script>
{% endblock %}
